// Transaction Summary
color: rgba(0, 0, 0, 0.50);
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// History
color: black;
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Search
color: rgba(0, 0, 0, 0.50);
 font-size: 14px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word
---
// May 25, 2022
color: rgba(0, 0, 0, 0.50);
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// May 24, 2022
color: rgba(0, 0, 0, 0.50);
 font-size: 14px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// .
color: rgba(0, 0, 0, 0.70);
 font-size: 32px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Personal
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Nice Bag chale
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Peter Ayeh<br/>Robert Doudu
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 024 116 5421
color: rgba(0, 0, 0, 0.50);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// GHS 700
color: black;
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 18:30PM
color: rgba(0, 0, 0, 0.50);
 font-size: 12px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// failed
color: #D71717;
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// .
color: rgba(0, 0, 0, 0.70);
 font-size: 32px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Other
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Nice Bag chale
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Peter Ayeh<br/>Robert Doudu
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 024 116 5421
color: rgba(0, 0, 0, 0.50);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// GHS 1,700
color: black;
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 18:30PM
color: rgba(0, 0, 0, 0.50);
 font-size: 12px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// failed
color: #D71717;
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// .
color: rgba(0, 0, 0, 0.70);
 font-size: 32px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Bill
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Nice Bag chale
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Fidelity Bank
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 020 049 7349
color: rgba(0, 0, 0, 0.50);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// GHS 7850
color: black;
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 18:30PM
color: rgba(0, 0, 0, 0.50);
 font-size: 12px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// failed
color: #D71717;
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// .
color: rgba(0, 0, 0, 0.70);
 font-size: 32px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Personal
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Nice Bag chale
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Theresa  Asaah<br/>Abena Dumor
color: rgba(0, 0, 0, 0.70);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 024 123 7654
color: rgba(0, 0, 0, 0.50);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// GHS 700
color: black;
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// 15:30PM
color: rgba(0, 0, 0, 0.50);
 font-size: 12px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Succesfull
color: #106A08;
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Send
color: rgba(0, 0, 0, 0.50);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// History
color: rgba(0, 0, 0, 0.50);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// Schedule
color: rgba(0, 0, 0, 0.50);
 font-size: 13px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word
---
// SEND NEW
color: white;
 font-size: 15px;
 font-family: Inter;
 font-weight: 700;
 word-wrap: break-word